body {
    background-image: url(https://cdn.wallpapersafari.com/20/37/Oisxvh.jpg);
    font-family: sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: white;
  }
  
  h2 {
    font-size: 30px;
    color: white;
  }
  
  .established {
    font-style: italic;
  }

  .serving {
    margin-bottom: -10px;
    margin-top: 20px;
    font-size: 15px;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .ingredients {
    width: 80%;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
  }
  
  hr {
    height: 2px;
    background-color: black;
    border-color: black;
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  h1, h2 {
    font-family: serif; /*add comma to add a font fallback option*/
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .itemType, .seasoning {
    text-align: left;
    width: 75%;
  }
  
  .quantity {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  
  footer {
    font-size: 14px;
  }
  .font {
    color: white;
  }
  
  .creator {
    margin-bottom: 3px;
    margin-top: 17px
  }
  
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: white;
  }
  
  a:active {
    color: white;
  }